* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    height: 100vh; /* Ensure the body takes full viewport height */
}
/* Add a black background color to the top navigation */
#topnav {
    overflow: hidden;
    background-color: #b97638;
    height: 25%;
  }
/* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fff;
  }
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #b97638;
    color: black;
  }
  .nav-links {
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
  }